
//- doctype html 
//- head 
//-   meta(charset='UTF-8')
//-   meta(http-equiv='X-UA-Compatible' content='IE=edge')
//-   meta(name='viewport' content='width=device-width, initial-scale=1.0')
//-   title Characters?
//-   link(rel='stylesheet' type='text/css' href='/css/style.css')

//- body  
//-   h1 Welcome 
//-   h3 Lets try this out! 

//- ul.list-group
//-   | #{todos}
//-   a.list-group-item(href='/todo/#{id}') #{title}
//-   |   
//- a.btn.btn-default.btn-primary(type='button', href='/todo/new')
//-   | New Todo


  