//- extends layout

//- block content
//-   h1= title
//-   p Welcome to #{title}

//- form.form(action='/todo', method='post')
//-   .form-group
//-     label(for='title') Title
//-     input#title.form-control(type='text', placeholder='Enter a todo', name='title')
//-   .form-group
//-     label(for='description') Description
//-     textarea#{description}.form-control(type='text', placeholder='Enter a description', name='description')
//-   .form-group
//-     label(for='priority') Priority
//-     select#priority.form-control(name='priority')
//-       option 1
//-       option 2
//-       option 3
//-       option 4
//-       option 5
//-   button.btn.btn-default.btn-success(type='submit')
//-     | Create
